@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    max-width: 100%;
    margin: auto;
    background-image: url(img/Wall2.jpg);
}

button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: gainsboro;
  
}

img {
    width: 15px;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  max-width: 500px;
  width: 50%;
  max-height: 100%;
  border-radius: 6px;
}

.WillSmith {
position:absolute;
width: 250%;
left: -450px;
top: -150px;
z-index: -3;
}

.WillSmith-right {
position:absolute;
width: 250%;
right: -450px;
top: -150px;
z-index: -3;
}

.podKapot{
    position: absolute;
    top: -1px;
    left: 10%;
    right: 10%;
    display: flex;       
    align-items: center;      
    justify-content: flex-end; 
    margin: auto;
    width: 80%;
    height: 30px;          
    box-sizing: border-box;
    background-color: rgb(170, 170, 170);
    border: 10px solid rgb(37, 37, 37);
    color: rgb(54, 54, 54);
    font-size: 20px;
    padding: 0 10px;
    border-bottom: 0;
    outline: none;
    overflow: hidden;         
    white-space: nowrap;
    transition: width 2s, height 4s;
    z-index: -1;
    margin-bottom: -1px;
    transition: 80ms;
}
.active {
    top: -27px;
    transition: 80ms;
}


.display {
    display: flex;       
    align-items: center;      
    justify-content: flex-end; 
    width: 100%;
    height: 100px;            
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(170, 170, 170);
    border: 20px solid rgb(56, 56, 56);
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0 10px;
    margin-top: -1px;
    outline: none;
    overflow: hidden;         
    white-space: nowrap;
}

.buttons {
    margin-top: -1px;
    height: 100%;
    max-width: 100%;
    border: 20px solid rgb(56, 56, 56);
    background-color: black;
    border-radius: 4px;
}

button:active {
    margin: auto;
    height: 95%;
    width: 95%;
}

.buttons_up-line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 4px;
    margin: 4px;
    height: 20px;
}

.buttons_up-line_del {
    background-image: url(img/strelka.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.buttons_up-line button {
    font-weight: 700;
}

.buttuns_numbers-operators {
    display: flex;
    height: 100%;
}

.buttuns_numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    gap: 4px;
    margin-left: 4px;
}

.buttuns_numbers button {
    font-size: 32px;
    font-weight: 700;
}

.buttuns_operators {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    gap: 4px;
    margin: 0 4px 4px 4px;
}

.buttuns_operators_divive {
    background-image: url(img/delenie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    
}

.buttuns_operators button {
    font-size: 32px;
}
@media (max-width: 1440px) {
.calculator {
  width: 50%;
}
.WillSmith {
width: 150%;
left: -50%;
top: 0;

}

.WillSmith-right {
width: 150%;
left: 0;
top: 0;
}
}


@media (max-width: 768px) {
.calculator {
  width: 90%;
}

.WillSmith {
width: 150%;
left: -10%;
top: -25%;
rotate: 90deg;
}

.WillSmith-right {
width: 150%;
left: -10%;
top: 25%;
rotate: 90deg;
}
}

@media (max-width: 366px) {
.calculator {
  width: 90%;
}

.buttons_up-line {
    height: 25px;
}

.display {
    margin-bottom: -2px;
}
.WillSmith {
left: 0;
top: 30%;
left: -20%;
rotate: 270deg;
}

.WillSmith-right {
left: -20%;
top: -20%;
rotate: 270deg;
}
}