@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@font-face {
    font-family: 'DigitalClockFont';
    src: url('fonts/alarm-clock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'History';
    src: url('fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    max-width: 100%;
    margin: auto;
    background-image: url(img/Wall2.jpg);
}

button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: gainsboro;
    color: black;
}

img {
    width: 15px;
}
/* CALCULATOR */
.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  max-width: 500px;
  width: 50%;
  max-height: 100%;
  border-radius: 6px;
}

.WillSmith {
position:absolute;
width: 250%;
left: -450px;
top: -150px;
z-index: -3;
}

.WillSmith-right {
position:absolute;
width: 250%;
right: -450px;
top: -150px;
z-index: -3;
}

.podKapot{
    position: absolute;
    top: -1px;
    left: 10%;
    right: 10%;
    display: flex;       
    align-items: center;      
    justify-content: flex-end; 
    margin: auto;
    width: 80%;
    height: 30px;          
    box-sizing: border-box;
    background-color: rgb(170, 170, 170);
    border: 10px solid rgb(37, 37, 37);
    color: rgb(54, 54, 54);
    font-size: 20px;
    padding: 0 10px;
    border-bottom: 0;
    outline: none;
    overflow: hidden;         
    white-space: nowrap;
    transition: width 2s, height 4s;
    z-index: -1;
    margin-bottom: -1px;
    transition: 80ms;
}
.active {
    top: -27px;
    transition: 80ms;
}


.display {
    display: flex;       
    align-items: center;      
    justify-content: flex-end; 
    width: 100%;
    height: 100px;            
    border-radius: 4px;
    background-color: rgb(170, 170, 170);
    border: 20px solid rgb(56, 56, 56);
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 0 10px;
    margin-top: -1px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;         
    white-space: nowrap;
}

.buttons {
    margin-top: -1px;
    height: 100%;
    max-width: 100%;
    border: 20px solid rgb(56, 56, 56);
    background-color: black;
    border-radius: 4px;
}

.buttons_up-line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 4px;
    margin: 4px;
    height: 20px;
}

.buttons_up-line_del {
    background-image: url(img/strelka.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.buttons_up-line button {
    font-weight: 700;
}

.buttons_up-line button:active {
    margin: auto;
    height: 95%;
    width: 95%;
}

.buttons_numbers-operators {
    display: flex;
    height: 100%;
}

.buttons_numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    gap: 4px;
    margin-left: 4px;
}

.buttons_numbers button {
    font-size: 32px;
    font-weight: 700;
}
.buttons_numbers button:active {
    margin: auto;
    height: 95%;
    width: 95%;
}

.buttons_operators {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    gap: 4px;
    margin: 0 4px 4px 4px;
}

.buttons_operators button:active {
    margin: auto;
    height: 95%;
    width: 95%;
}


.buttons_operators_divive {
    background-image: url(img/delenie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    
}

.buttons_operators button {
    font-size: 32px;
}

.history {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 71%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: block;
    white-space: nowrap;
    margin: auto;
    margin-top: -2px;
    width: 90%;
    height: 100px;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 10px 2px rgba(0, 0, 0, 0.377);
    background-image: url(img/history_background.jpg);
    border: 5px solid #252525;
    color: rgba(0, 0, 0, 0.911);
    font-size: 14px;
    border-top: 0;
    outline: none; 
    z-index: -1;
    margin-bottom: -1px;
    justify-content: space-between;
    scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.history_header {
    display: flex;
    justify-content: space-around;
    font-family: 'History';
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.884);
    margin-top: 5px;
}

.history_icon {
    display: block;
    height: 25px;
    width: 25px;
    z-index: -1;
}

.history_clear {
    width: 25px;
    cursor: pointer;
}

.history_clear:active {
    opacity: 70%;
    transform: 80ms;
}
.history_clear:hover {
    opacity: 70%;
    transform: 80ms;
}

.history_active {
    display: block;
    top: 99%;
    transition: 0.5s;
}

.history_text {
    padding: 10px;
    width: min-content;
}

.history_text_card {
    display: flex;
    margin-bottom: 4px;
}

.history_text_button {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    background-image: url(img/history_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    margin-right: 5px;
}

.history_text_button:active,
.history_text_button:focus {
    background-color: transparent;
    background-image: url("img/history_button.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.history_text_button:hover {
    opacity: 70%;
}

.history_text_button:active {
    background-size: 110%;
}

.history_text_date {
margin-right: 5px;
border-bottom: 1px solid black;
font-size: 12px;
display: flex;
align-items: center;
}

.history_strelka {
    position: absolute;
    display: block;
    margin: auto;
    top: 99%;
    z-index: 2;
    width: 150px;
    height: 15px;
    cursor: pointer;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
}

.history_strelka_active {
    top: 127%;
    transition: 0.5s;
}




@media (max-width: 1440px) {
.calculator {
  width: 50%;
}
.WillSmith {
width: 150%;
left: -50%;
top: 0;

}

.WillSmith-right {
width: 150%;
left: 0;
top: 0;
}
}


@media (max-width: 768px) {
.calculator {
  width: 90%;
}

.WillSmith {
display: none;
width: 150%;
left: -10%;
top: -25%;
rotate: 90deg;
margin-top: 10px;
}

.WillSmith-right {
width: 150%;
left: -10%;
bottom: 10%;
rotate: 90deg;
margin-bottom: 10px;
}
}

@media (max-width: 500px) {
.WillSmith-right {
width: 150%;
left: -10%;
bottom: 0;
top: 25%;
rotate: 90deg;
margin-bottom: 10px;
}
}

@media (max-width: 366px) {
.calculator {
  width: 90%;
}

.buttons_up-line {
    height: 25px;
}

.display {
    margin-bottom: -2px;
}
.WillSmith {
left: 0;
top: 30%;
left: -20%;
rotate: 270deg;
}

.WillSmith-right {
left: -20%;
top: -20%;
rotate: 270deg;
}
}

/* CLOCK */

.clock {
    margin: 10px;
    margin-top: 40px;
    width: 250px;
    height: max-content;
    display: flex;
    justify-content: center;
    position: relative;
}

.clock_display {
    font-family: 'DigitalClockFont', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: black;
    border: 2px solid grey;
    border-bottom: none;
    border-right: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: #00FF00;
    box-sizing: border-box;
    font-size: xx-large;
    margin-bottom: -1px;
}

/* Date */
.date_display {
    font-family: 'DigitalClockFont', sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: black;
    border: 2px solid grey;
    border-top: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: #e2e2e2;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: -1px;
    padding: 5px;
    border-right: none;
}
/* Weather */

.weather_display {
    z-index: -1;
    height: 100%;
    font-family: 'DigitalClockFont', sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: black;
    border: 2px solid grey;
    border-left: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    color: #e2e2e2;
    box-sizing: border-box;
    font-size: 15px;
    padding: 5px;
    padding-top: 30px;
    margin: auto;
}

.weather_icon {
    position: absolute;
    top: 5px;
    width: 100%;
    max-width: 25px;
    right: 35px;
    z-index: 1;
    background-color: #00f7ff85;
    border-radius: 50%;
}

